page-form {

  .term
  {
    padding-top: 20px;
  }

  .terms-checkbox-label
  {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
  }

  .error-message
  {
    color: red;
  }
}
