<ion-header>
  <ion-navbar>
    <ion-title>Ionic 3 Forms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label floating color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Last name</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastname">
        <div class="error-message" *ngIf="validations_form.get('lastname').hasError(validation.type) && (validations_form.get('lastname').dirty || validations_form.get('lastname').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input [textMask]="emailMask" type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Gender</ion-label>
      <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let gender of genders" [value]="gender" >{{ gender }}</ion-option>
      </ion-select>
    </ion-item>


    <div formGroupName="country_phone">
      <ion-item>
        <ion-label floating color="primary">Country</ion-label>
        <ion-select formControlName="country" cancelText="Cancel" okText="OK">
          <ion-option *ngFor="let item of countries" [value]="item" >{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [textMask]="{mask: validations_form.value.country_phone.country.phone_mask}" placeholder="{{ validations_form.value.country_phone.country.sample_phone }}" type="text" formControlName="phone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>


    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="terms-item">
      <ion-label color="primary">I accept terms and conditions</ion-label>
      <ion-checkbox formControlName="terms"></ion-checkbox>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button ion-button full type="submit" [disabled]="!validations_form.valid">Submit</button>
  </form>
</ion-content>
